@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.text-primary {
  color: var(--cyan);
}

.text-secondary {
  color: var(--bright-yellow);
}

.text-white {
  color: #fff;
}

.text-gray {
  color: var(--grayish-blue);
}

main {
  width: 100%;
  min-height: 100vh;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-gray);
}

/* PRICING GRID STYLES */
.price-grid {
  width: 640px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px 4px #cadaea;
}

.section {
  padding: 40px;
}

.section h1 {
  font-size: 1.5em;
}

.section h2 {
  font-size: 1.125em;
}

.section-1 {
  grid-column: 1 / 3;
  background-color: #fff;
}

.section-2 {
  background-color: var(--cyan);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pricing {
  display: flex;
  align-items: center;
}

.price {
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  margin-right: 10px;
}

.per-month {
  color: rgba(255, 255, 255, 0.625);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bright-yellow);
    border-radius: 5px;
    padding: 12px 0;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

.section-3 {
  background-color: #4abebd;
}

li {
  list-style: none;
  font-size: 0.875em;
  color: rgba(255, 255, 255, 0.7);
}

/* MOBILE STYLES (375px) */
@media only screen and (max-width: 375px) {
  .price-grid {
    grid-template-columns: 1fr;
  }

  .section {
      padding: 30px;
  }

  .section-1 {
    grid-column: 1 / 2;
  }

  .section-2 {
    grid-column: 1 / 2;
  }

  .section-3 {
    grid-column: 1 / 2;
  }

  li {
      font-size: 1em;
  }
}
